openapi: 3.1.0
info:
  title: Chinook Webapi
  summary: RESTful API for the Chinook database
  description: Sale of tracks
  termsOfService: https://api.hernandez-julio.com/webapi/termsofservice
  version: v1
  contact:
    name: Administrator
    email: admin@api.hernandez-julio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0 
servers:
  - url: https://api.hernandez-julio.com
    description: Production set
security:
  - bearerAuth: []   
tags :
  - name: Me
    description: Current user info
  - name: Albums
    description: Manages albums
  - name: Employees
    description: Manages employees
  - name: Invoices
    description: Manages invoices
  - name: Tracks
    description: Manages tracks
  - name: Customers
    description: Manages customers
  - name: Sales
    description: Manages sales                      
paths:
  /webapi/v1/me:
    description: Returns info about the current user.
    get:
      tags:
        - Me 
      description: Returns the current user description
      operationId: getCurrentUser                
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - username
                  - email
                  - status
                  - receive_offer
                  - public_key  
                  - created_at
                  - expìres_at
                  - last_checked 
                properties:
                  username:
                    type: string
                    minLength: 2
                    maxLength: 16
                    example: Mary 
                  email:
                    type: string
                    maxLength: 60
                    example: something@fake.com
                  status:
                    type: string
                    enum: 
                      - Active
                      - Suspended 
                      - Deleted
                    default: Active
                  receive_offer:
                    type: integer
                    minimum: 0
                    maximum: 1
                    example: 0
                  public_key :
                    type: string
                    description: 32 character long string
                    example: "fs6fd84g.."
                  created_at:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  expires_at:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  last_checked:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"           
        '503':
          "$ref": "#/components/responses/_503"                    
  /webapi/v1/albums:
    description: The get method returns a paginated list of albums, the post method adds a new album to the database.
    get:
      tags:
        - Albums 
      description: Returns the list of albums
      operationId: getAllAlbums               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6  
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - AlbumId
                      - Title
                      - ArtistId
                    properties:
                      AlbumId:
                        type: integer
                        format: int64
                        minimum: 1
                        example: 1
                      Title:
                        type: string
                        maxLength: 160
                        example: "Apple"
                      ArtistId:
                        type: integer
                        format: int64
                        minimum: 1
                        example: 1
        '400':
          "$ref": "#/components/responses/_400"                         
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"           
        '503':
          "$ref": "#/components/responses/_503"         
    post:
      tags:
        - Albums 
      description: Create a new album
      operationId: addNewAlbum
      requestBody:
        description: album to add to the system
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
                - Title
                - ArtistId
              properties:
                Title:
                  type: string
                  maxLength: 160
                  example: "Apple"
                ArtistId:
                  type: integer
                  format: int64
                  minimum: 1
                  example: 1
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The unique location for the new album.
              schema:
                type: string
                example: "https://api.hernandez-julio.com/webapi/v1/albums/{AlbumId}"
          content:
            application/json:
              schema:
                type: object
                required:
                  - AlbumId
                  - Title
                  - ArtistId
                properties:
                  AlbumId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  Title:
                    type: string
                    maxLength: 160
                    example: "Apple"
                  ArtistId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
        '400':
          "$ref": "#/components/responses/_400"           
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"          
        '503':
          "$ref": "#/components/responses/_503"                               
  /webapi/v1/albums/{AlbumId}:
    description: This endpoint updates and deletes albums by Id.
    put:
      tags:
        - Albums
      description: Updates an album
      operationId: updateAlbum
      requestBody:
        description: album to update
        required: true
        content:
          'application/json':
            schema:
              type: object
              properties:
                Title:
                  type: string
                  maxLength: 160
                  example: "Apple"
                ArtistId:
                  type: integer
                  format: int64
                  minimum: 1
                  example: 1
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                - AlbumId
                - Title
                - ArtistId
                properties:
                  AlbumId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  Title:
                    type: string
                    maxLength: 160
                    example: "Apple"
                  ArtistId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
        '400':
          "$ref": "#/components/responses/_400"                     
        '401':
          "$ref": "#/components/responses/_401"                    
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"                               
        '503':
          "$ref": "#/components/responses/_503"                     
    delete:
      tags:
        - Albums 
      description: Delete an album
      operationId: deleteAlbum
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - DeletedAlbumId
                properties:
                  DeletedAlbumId:
                    type: integer
                    minimum: 1
                    example: 1
        '400':
          "$ref": "#/components/responses/_400"                    
        '401':
          "$ref": "#/components/responses/_401"
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"                       
        '503':
          "$ref": "#/components/responses/_503"                                     
    parameters:      
    - name: AlbumId
      in: path
      description: Numeric ID of the album to update
      required: true
      schema:
        type: integer
        format: int64        
        minimum: 1
        example: 1              
  /webapi/v1/albums/search:
    description: Returns a paginated list of albums from a search result.
    get:
      tags:
        - Albums 
      description: Returns the list of albums found
      operationId: searchAlbum            
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6 
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - AlbumId
                      - Title
                      - ArtistId
                      properties:
                        AlbumId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        Title:
                          type: string
                          maxLength: 160
                          example: "Apple"
                        ArtistId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
        '400':
          "$ref": "#/components/responses/_400" 
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"                       
        '503':
          "$ref": "#/components/responses/_503"                           
    parameters:       
    - name: searchTerm
      in: query
      description: search term string
      required: true
      schema:
        type: string
        minLength: 4
        maxLength: 16
    - name: page
      in: query
      description: Page number for pagination, base64url encoded
      required: false
      schema:
        type: string    
  /webapi/v1/employees:
    description: Returns a paginated list of employees.
    get:
      tags:
        - Employees 
      description: Returns the list of employees
      operationId: getAllEmpoyees               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties: 
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6   
                  data:                 
                    type: array
                    items:
                      type: object
                      required:
                        - EmployeeId
                        - LastName  
                        - FirstName 
                        - Title
                        - ReportsTo
                        - Email 
                      properties:
                        EmployeeId:
                          type: integer
                          minimum: 1
                          format: int64
                          example: 1
                        LastName :
                          type: string
                          maxLength: 20
                          example: "Apple"
                        FirstName:
                          type: string
                          maxLength: 20
                          example: "Hernandez"
                        Title:
                          type: string
                          maxLength: 30
                          example: "Apple"
                        ReportsTo:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        Email:
                          type: string
                          maxLength: 60
                          example: "abc123@server1.com"                                                    
        '400':
          "$ref": "#/components/responses/_400"
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"           
        '503':
          "$ref": "#/components/responses/_503"         
    post:
      tags:
        - Employees 
      description: Create a new employee
      operationId: addNewEmployee
      requestBody:
        description: employee to add to the system
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
                - LastName  
                - FirstName 
              properties:
                LastName :
                  type: string
                  maxLength: 20
                  example: "O'hara"
                FirstName:
                  type: string
                  maxLength: 20
                  example: "Oscar"
                Title:
                  type: string
                  maxLength: 30
                  example: "Supervisor"
                ReportsTo:
                  type: integer
                  format: int64
                  minimum: 1
                  example: 1
                BirthDate:
                  type: string
                  format: date-time
                  example: "2019-10-12T07:20:50.52Z"
                  description: ISO 8601 Combined Date and Time
                HireDate:
                  type: string
                  format: date-time
                  example: "2019-10-12T07:20:50.52Z"
                  description: ISO 8601 Combined Date and Time
                Address:
                  type: string
                  maxLength: 70
                  example: "Street 78th"
                City:
                  type: string
                  maxLength: 40
                  example: "Kigaly"
                State:
                  type: string
                  maxLength: 40
                  example: "Kigaly"
                Country:
                  type: string
                  maxLength: 40
                  example: "Ruanda"
                PostalCode:
                  type: string
                  maxLength: 10
                  example: "003000"
                Phone:
                  type: string
                  maxLength: 24
                  example: "01-123456789"
                Fax: 
                  type: string
                  maxLength: 24
                  example: "123456"
                Email:
                  type: string
                  maxLength: 60
                  example: "abc123@server1.com"
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The unique location for the new employee.
              schema:
                type: string
                example: "https://api.hernandez-julio.com/webapi/v1/employee/{EmployeeId}"
          content:
            application/json:
              schema:
                type: object
                required:
                  - EmployeeId
                  - LastName  
                  - FirstName 
                  - Title     
                  - ReportsTo 
                  - BirthDate 
                  - HireDate  
                  - Address   
                  - City      
                  - State     
                  - Country   
                  - PostalCode
                  - Phone     
                  - Fax       
                  - Email 
                properties:
                  EmployeeId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  LastName :
                    type: string
                    maxLength: 20
                    example: "O'hara"
                  FirstName:
                    type: string
                    maxLength: 20
                    example: "Oscar"
                  Title:
                    type: string
                    maxLength: 30
                    example: "Supervisor"
                  ReportsTo:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  BirthDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time 
                  HireDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time 
                  Address:
                    type: string
                    maxLength: 70
                    example: "Street 78th"
                  City:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  State:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  Country:
                    type: string
                    maxLength: 40
                    example: "Ruanda"
                  PostalCode:
                    type: string
                    maxLength: 10
                    example: "003000"
                  Phone:
                    type: string
                    maxLength: 24
                    example: "01-123456789"
                  Fax: 
                    type: string
                    maxLength: 24
                    example: "123456"
                  Email:
                    type: string
                    maxLength: 60
                    example: "abc123@server1.com"
        '400':
          "$ref": "#/components/responses/_400"           
        '401':
          "$ref": "#/components/responses/_401"
        '409':
          "$ref": "#/components/responses/_409"
        '500':
          "$ref": "#/components/responses/_500"           
        '503':
          "$ref": "#/components/responses/_503"                                     
  /webapi/v1/employees/{EmployeeId}:
    description: Returns a detailed employee data.
    get:
      tags:
        - Employees
      description: Returns an employee
      operationId: getEmployeeById               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - EmployeeId
                  - LastName  
                  - FirstName 
                  - Title     
                  - ReportsTo 
                  - BirthDate 
                  - HireDate  
                  - Address   
                  - City      
                  - State     
                  - Country   
                  - PostalCode
                  - Phone     
                  - Fax       
                  - Email 
                properties:
                  EmployeeId:
                    type: integer
                    format: int64
                    example: 1                    
                  LastName :
                    type: string
                    maxLength: 20
                    example: "O'hara"
                  FirstName:
                    type: string
                    maxLength: 20
                    example: "Oscar"
                  Title:
                    type: string
                    maxLength: 30
                    example: "Supervisor"
                  ReportsTo:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  BirthDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  HireDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  Address:
                    type: string
                    maxLength: 70
                    example: "Street 78th"
                  City:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  State:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  Country:
                    type: string
                    maxLength: 40
                    example: "Ruanda"
                  PostalCode:
                    type: string
                    maxLength: 10
                    example: "003000"
                  Phone:
                    type: string
                    maxLength: 24
                    example: "01-123456789"
                  Fax: 
                    type: string
                    maxLength: 24
                    example: "123456"
                  Email:
                    type: string
                    maxLength: 60
                    example: "abc123@server1.com"
        '401':
          "$ref": "#/components/responses/_401"  
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"                     
        '503':
          "$ref": "#/components/responses/_503"
    put:
      tags:
        - Employees
      description: Updates an employee
      operationId: updateEmployee
      requestBody:
        description: employee to update
        required: true
        content:
          'application/json':
            schema:
              type: object
              properties:
                LastName :
                  type: string
                  maxLength: 20
                  example: "O'hara"
                FirstName:
                  type: string
                  maxLength: 20
                  example: "Oscar"
                Title:
                  type: string
                  maxLength: 30
                  example: "Supervisor"
                ReportsTo:
                  type: integer
                  format: int64
                  minimum: 1
                  example: 1
                BirthDate:
                  type: string
                  format: date-time
                  example: "2019-10-12T07:20:50.52Z"
                  description: ISO 8601 Combined Date and Time
                HireDate:
                  type: string
                  format: date-time
                  example: "2019-10-12T07:20:50.52Z"
                  description: ISO 8601 Combined Date and Time
                Address:
                  type: string
                  maxLength: 70
                  example: "Street 78th"
                City:
                  type: string
                  maxLength: 40
                  example: "Kigaly"
                State:
                  type: string
                  maxLength: 40
                  example: "Kigaly"
                Country:
                  type: string
                  maxLength: 40
                  example: "Ruanda"
                PostalCode:
                  type: string
                  maxLength: 10
                  example: "003000"
                Phone:
                  type: string
                  maxLength: 24
                  example: "01-123456789"
                Fax: 
                  type: string
                  maxLength: 24
                  example: "123456"
                Email:
                  type: string
                  maxLength: 60
                  example: "abc123@server1.com"                     
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - EmployeeId
                  - LastName  
                  - FirstName 
                  - Title     
                  - ReportsTo 
                  - BirthDate 
                  - HireDate  
                  - Address   
                  - City      
                  - State     
                  - Country   
                  - PostalCode
                  - Phone     
                  - Fax       
                  - Email 
                properties:
                  EmployeeId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  LastName :
                    type: string
                    maxLength: 20
                    example: "O'hara"
                  FirstName:
                    type: string
                    maxLength: 20
                    example: "Oscar"
                  Title:
                    type: string
                    maxLength: 30
                    example: "Supervisor"
                  ReportsTo:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  BirthDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  HireDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  Address:
                    type: string
                    maxLength: 70
                    example: "Street 78th"
                  City:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  State:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  Country:
                    type: string
                    maxLength: 40
                    example: "Ruanda"
                  PostalCode:
                    type: string
                    maxLength: 10
                    example: "003000"
                  Phone:
                    type: string
                    maxLength: 24
                    example: "01-123456789"
                  Fax: 
                    type: string
                    maxLength: 24
                    example: "123456"
                  Email:
                    type: string
                    maxLength: 60
                    example: "abc123@server1.com"
        '400':
          "$ref": "#/components/responses/_400"                     
        '401':
          "$ref": "#/components/responses/_401"                    
        '404':
          "$ref": "#/components/responses/_404"
        '409':
          "$ref": "#/components/responses/_409"
        '500':
          "$ref": "#/components/responses/_500"                                          
        '503':
          "$ref": "#/components/responses/_503"                          
    delete:
      tags:
        - Employees
      description: Delete an employee
      operationId: deleteEmployee 
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - DeletedEmployeeId
                properties:
                  DeletedEmployeeId:
                    type: integer
                    minimum: 1
        '400':
          "$ref": "#/components/responses/_400"                     
        '401':
          "$ref": "#/components/responses/_401"                    
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"                               
        '503':
          "$ref": "#/components/responses/_503"       
    parameters:      
      - name: EmployeeId
        in: path
        description: the employee's id
        required: true
        schema:
          type: integer
          minimum: 1
  /webapi/v1/invoices:
    description: Returns a paginated list of invoices.
    get:
      tags:
        - Invoices
      description: Returns the list of invoices
      operationId: getAllInvoices              
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6  
                  data:       
                    type: array
                    items:
                      type: object
                      required:
                        - InvoiceId        
                        - CustomerId       
                        - InvoiceDate      
                        - Total 
                      properties:
                        InvoiceId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        CustomerId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        InvoiceDate:
                          type: string
                          format: date-time
                          example: "2019-10-12T07:20:50.52Z"
                          description: ISO 8601 Combined Date and Time
                        Total:
                          type: number
                          format: double
                          minimum: 0.0
                          example: 3.26
        '400':
          "$ref": "#/components/responses/_400"                          
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"           
        '503':
          "$ref": "#/components/responses/_503"                         
  /webapi/v1/invoices/{InvoiceId}:
    description: Returns a detailed invoice by its id.
    get:
      tags:
        - Invoices
      description: Returns an invoice
      operationId: getInvoiceById             
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - InvoiceId        
                  - CustomerId       
                  - InvoiceDate      
                  - BillingAddress   
                  - BillingCity      
                  - BillingState     
                  - BillingCountry   
                  - BillingPostalCode
                  - Total 
                properties:
                  InvoiceId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  CustomerId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  InvoiceDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  BillingAddress:
                    type: string
                    maxLength: 70
                    example: "Kigaly"
                  BillingCity:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  BillingState :
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  BillingCountry:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  BillingPostalCode:
                    type: string
                    maxLength: 10
                    example: "Kigaly"                    
                  Total:
                    type: number
                    format: double
                    minimum: 0.0
                    example: 3.26
        '401':
          "$ref": "#/components/responses/_401"
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"                    
        '503':
          "$ref": "#/components/responses/_503"
    put:
      tags:
        - Invoices
      description: Update an invoices
      operationId: updateInvoice
      requestBody:
        description: Invoice to update
        required: true
        content:
          'application/json':
            schema:
              type: object
              properties:
                CustomerId:
                  type: integer
                  format: int64
                  minimum: 1
                  example: 1
                InvoiceDate:
                  type: string
                  format: date-time
                  example: "2019-10-12T07:20:50.52Z"
                  description: ISO 8601 Combined Date and Time
                BillingAddress:
                  type: string
                  maxLength: 70
                  example: "Kigaly"
                BillingCity:
                  type: string
                  maxLength: 40
                  example: "Kigaly"
                BillingState :
                  type: string
                  maxLength: 40
                  example: "Kigaly"
                BillingCountry:
                  type: string
                  maxLength: 40
                  example: "Kigaly"
                BillingPostalCode:
                  type: string
                  maxLength: 10
                  example: "Kigaly"                    
                Total:
                  type: number
                  format: double
                  minimum: 0.0
                  example: 3.26              
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  InvoiceId:
                    type: integer
                    format: int64
                    minimum: 1
                  CustomerId:
                    type: integer
                    format: int64
                    minimum: 1
                  InvoiceDate:
                    type: string
                    format: date-time
                    example: "2019-10-12T07:20:50.52Z"
                    description: ISO 8601 Combined Date and Time
                  BillingAddress:
                    type: string
                    maxLength: 70
                    example: "Kigaly"
                  BillingCity:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  BillingState :
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  BillingCountry:
                    type: string
                    maxLength: 40
                    example: "Kigaly"
                  BillingPostalCode:
                    type: string
                    maxLength: 10
                    example: "Kigaly"                    
                  Total:
                    type: number
                    format: double
                    minimum: 0.0
                    example: 3.26 
        '400':
          "$ref": "#/components/responses/_400"                     
        '401':
          "$ref": "#/components/responses/_401"                    
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"          
        '503':
          "$ref": "#/components/responses/_503"
    parameters:      
    - name: InvoiceId
      in: path
      description: Numeric ID of the invoice to update
      required: true
      schema:
        type: integer
        minimum: 1
  /webapi/v1/tracks:
    description: Returns a paginated list of tracks (songs).
    get:
      tags:
        - Tracks 
      description: Returns the list of tracks
      operationId: getAllTracks               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6  
                  data:                       
                    type: array
                    items:
                      type: object
                      required:
                        - TrackId     
                        - Name        
                        - AlbumId     
                        - Composer        
                        - UnitPrice 
                      properties:
                        TrackId:
                          type: integer
                          format: int64
                          minimum: 1
                        Name:
                          type: string
                          maxLength: 200
                          example: "Apple"
                        AlbumId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        Composer:
                          type: string
                          maxLength: 220
                          example: "Apple"
                        UnitPrice:
                          type: number
                          format: double
                          minimum: 0.0
                          example: 3.26
        '400':
          "$ref": "#/components/responses/_400"                          
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"            
        '503':
          "$ref": "#/components/responses/_503"         
    post:
      tags:
        - Tracks
      description: Create a new track
      operationId: addNewTrack
      requestBody:
        description: track to add to the system
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:    
                - Name          
                - MediaTypeId 
                - Milliseconds            
                - UnitPrice 
              properties:
                Name:
                  type: string
                  maxLength: 200
                  example: "Apple"
                AlbumId:
                  type: integer
                  description: "ID of the album. Must already exist in the albums table."
                  format: int64
                  minimum: 1
                  example: 1
                MediaTypeId:
                  type: integer
                  description: "ID of the media type. Must already exist in the media_types table."
                  format: int64
                  minimum: 1
                  example: 1
                GenreId:
                  type: integer
                  description: "ID of the genre. Must already exist in the genres table."
                  format: int64
                  minimum: 1
                  example: 1
                Composer:
                  type: string
                  maxLength: 220
                  example: "Mariano"
                Milliseconds:
                  type: integer
                  format: int64
                  maximum: 1200000
                  example: 130654
                Bytes:
                  type: integer
                  format: int64
                  maximum: 1500000000       
                  example: 76500000                            
                UnitPrice:
                  type: number
                  format: double
                  maximum: 4.0
                  example: 3.26
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The unique location for the new track.
              schema:
                type: string
                example: "https://api.hernandez-julio.com/webapi/v1/tracks/{AlbumId}"
          content:
            application/json:
              schema:
                type: object
                required:
                  - TrackId    
                  - Name        
                  - AlbumId     
                  - MediaTypeId 
                  - GenreId
                  - Composer
                  - Milliseconds
                  - Bytes            
                  - UnitPrice 
                properties:
                  TrackId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1               
                  Name:
                    type: string
                    maxLength: 200
                    example: "Apple"
                  AlbumId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  MediaTypeId:
                    type: integer
                    minimum: 1
                    format: int64
                    example: 1
                  GenreId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  Composer:
                    type: string
                    maxLength: 220
                    example: "Mariano"
                  Milliseconds:
                    type: integer
                    format: int64
                    maximum: 1200000
                    example: 650012
                  Bytes:
                    type: integer
                    format: int64
                    maximum: 1500000000
                    example: 8761411                                   
                  UnitPrice:
                    type: number
                    format: double
                    example: 3.26
        '400':
          "$ref": "#/components/responses/_400"           
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"          
        '503':
          "$ref": "#/components/responses/_503"          
  /webapi/v1/tracks/{TrackId}:
    description: Returns a track (songs) by its id.
    get:
      tags:
        - Tracks 
      description: Returns a track
      operationId: getTrackById               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - TrackId     
                  - Name        
                  - AlbumId     
                  - MediaTypeId 
                  - GenreId
                  - Composer
                  - Milliseconds
                  - Bytes           
                  - UnitPrice 
                properties:
                  TrackId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  Name:
                    type: string
                    maxLength: 200
                    example: "Apple"
                  AlbumId:
                    type: integer
                    minimum: 1
                    format: int64
                    example: 1
                  MediaTypeId:
                    type: integer
                    minimum: 1
                    format: int64
                    example: 1
                  GenreId:
                    type: integer
                    minimum: 1
                    format: int64
                    example: 1
                  Composer:
                    type: string
                    maxLength: 200
                    example: "Apple"
                  Milliseconds:
                    type: integer
                    minimum: 1
                    maximum: 3600000
                    format: int64
                    example: 1
                  Bytes:
                    type: integer
                    minimum: 1
                    maximum: 300000000
                    format: int64
                    example: 1  
                  UnitPrice:
                    type: number
                    format: double
                    example: 3.26
        '401':
          "$ref": "#/components/responses/_401"
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"          
        '503':
          "$ref": "#/components/responses/_503"
    put:
      tags:
        - Tracks
      description: Updates a track
      operationId: updateTrack
      requestBody:
        description: Track to update
        required: true
        content:
          'application/json':
            schema:
              type: object
              properties:
                Name:
                  type: string
                  maxLength: 200
                  example: "Apple"
                AlbumId:
                  type: integer
                  description: "ID of the album. Must already exist in the albums table."
                  minimum: 1
                  format: int64
                  example: 1
                MediaTypeId:
                  type: integer
                  description: "ID of the media type. Must already exist in the media_types table."
                  minimum: 1
                  format: int64
                  example: 1
                GenreId:
                  type: integer
                  description: "ID of the genre. Must already exist in the genres table."
                  minimum: 1
                  format: int64
                  example: 1
                Composer:
                  type: string
                  maxLength: 200
                  example: "Apple"
                Milliseconds:
                  type: integer
                  minimum: 1
                  maximum: 3600000
                  format: int64
                  example: 1
                Bytes:
                  type: integer
                  minimum: 1
                  maximum: 300000000
                  format: int64
                  example: 1  
                UnitPrice:
                  type: number
                  format: double
                  maximum: 4.0                  
                  example: 3.26
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  TrackId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1
                  Name:
                    type: string
                    maxLength: 200
                    example: "Apple"
                  AlbumId:
                    type: integer
                    minimum: 1
                    format: int64
                    example: 1
                  MediaTypeId:
                    type: integer
                    minimum: 1
                    format: int64
                    example: 1
                  GenreId:
                    type: integer
                    minimum: 1
                    format: int64
                    example: 1
                  Composer:
                    type: string
                    maxLength: 200
                    example: "Apple"
                  Milliseconds:
                    type: integer
                    minimum: 1
                    maximum: 3600000
                    format: int64
                    example: 1
                  Bytes:
                    type: integer
                    minimum: 1
                    maximum: 300000000
                    format: int64
                    example: 1  
                  UnitPrice:
                    type: number
                    format: double
                    example: 3.26
        '400':
          "$ref": "#/components/responses/_400"                     
        '401':
          "$ref": "#/components/responses/_401"                    
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"          
        '503':
          "$ref": "#/components/responses/_503"                      
    delete:
      tags:
        - Tracks 
      description: Delete a track
      operationId: deleteTrack
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - DeletedTrackId
                properties:
                  DeletedTrackId:
                    type: integer
                    minimum: 1
        '401':
          "$ref": "#/components/responses/_401"
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"                      
        '503':
          "$ref": "#/components/responses/_503"                                     
    parameters:      
    - name: TrackId
      in: path
      description: Path id parameter
      required: true
      schema:
        type: integer
        minimum: 1
  /webapi/v1/tracks/search:
    description: Returns a paginated list of tracks from a search result.
    get:
      tags:
        - Tracks
      description: Returns the list of tracks found
      operationId: searchTrack   
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6   
                  data:                      
                    type: array
                    items:
                      type: object
                      properties:
                        TrackId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        Name:
                          type: string
                          maxLength: 200
                          example: "Apple"
                        AlbumId:
                          type: integer
                          minimum: 1
                          format: int64
                          example: 1
                        MediaTypeId:
                          type: integer
                          minimum: 1
                          format: int64
                          example: 1
                        GenreId:
                          type: integer
                          minimum: 1
                          format: int64
                          example: 1
                        Composer:
                          type: string
                          maxLength: 200
                          example: "Apple"
                        Milliseconds:
                          type: integer
                          minimum: 1
                          maximum: 3600000
                          format: int64
                          example: 1
                        Bytes:
                          type: integer
                          minimum: 1
                          maximum: 300000000
                          format: int64
                          example: 1  
                        UnitPrice:
                          type: number
                          format: double
                          example: 3.26
        '400':
          "$ref": "#/components/responses/_400" 
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"                     
        '503':
          "$ref": "#/components/responses/_503"                           
    parameters:       
    - name: searchTerm
      in: query
      description: search term string
      required: true
      schema:
        type: string
        minLength: 4
        maxLength: 16
    - name: page
      in: query
      description: Page number for pagination, base64url encoded
      required: false
      schema:
        type: string   
  /webapi/v1/customers:
    description: Returns a paginated list of customers.
    get:
      tags:
        - Customers 
      description: Returns the list of customers
      operationId: getAllCustomers               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6  
                  data:                         
                    type: array
                    items:
                      type: object
                      properties:
                        CustomerId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        FirstName:
                          type: string
                          maxLength: 40
                          example: "Apple"
                        LastName:
                          type: integer
                          format: int64
                          maxLength: 40
                        SupportRepId:
                          type: integer
                          minimum: 1
                          format: int64
                          example: 1
        '400':
          "$ref": "#/components/responses/_400"                          
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"            
        '503':
          "$ref": "#/components/responses/_503"         
    post:
      tags:
        - Customers 
      description: Create a new customer 
      operationId: addNewCustomer 
      requestBody:
        description: customer  to add to the system
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:    
                - FirstName   
                - LastName           
                - Email       
              properties:
                FirstName:
                  type: string
                  maxLength: 40
                  example: "Apple"
                LastName:
                  type: string
                  maxLength: 40
                  example: "apple"
                Company:
                  type: string
                  maxLength: 80
                  example: apple
                Address:
                  type: string
                  maxLength: 70
                  example: apple
                City:
                  type: string
                  maxLength: 40
                  example: apple
                State:
                  type: string
                  maxLength: 40
                  example: apple
                Country:
                  type: string
                  maxLength: 40
                  example: apple
                PostalCode: 
                  type: string
                  maxLength: 10
                  example: "03000"
                Phone: 
                  type: string
                  maxLength: 24
                  example: 02-55555555
                Fax: 
                  type: string
                  maxLength: 24
                  example: "123456789"
                Email: 
                  type: string
                  maxLength: 60
                  example: apple68@yahoo.com                               
                SupportRepId:
                  type: integer
                  format: int64
                  minimum: 1                
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The unique location for the new track.
              schema:
                type: string
                example: "https://api.hernandez-julio.com/webapi/v1/tracks/{AlbumId}"
          content:
            application/json:
              schema:
                type: object
                required:
                  - CustomerId     
                  - FirstName   
                  - LastName    
                  - Company     
                  - Address     
                  - City        
                  - State       
                  - Country     
                  - PostalCode  
                  - Phone       
                  - Fax         
                  - Email       
                  - SupportRepId 
                properties:
                  FirstName:
                      type: string
                      maxLength: 40
                      example: "Mark"
                  LastName:
                      type: string
                      maxLength: 40
                      example: "Johnson"
                  Company:
                      type: string
                      maxLength: 80
                      example: apple
                  Address:
                      type: string
                      maxLength: 70
                      example: apple
                  City:
                      type: string
                      maxLength: 40
                      example: apple
                  State:
                      type: string
                      maxLength: 40
                      example: apple
                  Country:
                      type: string
                      maxLength: 40
                      example: apple
                  PostalCode: 
                      type: string
                      maxLength: 10
                      example: apple
                  Phone: 
                      type: string
                      maxLength: 24
                      example: apple
                  Fax: 
                      type: string
                      maxLength: 24
                      example: "12345678"
                  Email: 
                      type: string
                      maxLength: 60
                      example: apple68@yahoo.com
                  SupportRepId:
                      type: integer
                      format: int64
                      minimum: 1
        '400':
          "$ref": "#/components/responses/_400"           
        '401':
          "$ref": "#/components/responses/_401"
        '409':
          "$ref": "#/components/responses/_409"
        '500':
          "$ref": "#/components/responses/_500"           
        '503':
          "$ref": "#/components/responses/_503"                                    
  /webapi/v1/customers/{CustomerId}:
    description: Returns a customer detail info.
    get:
      tags:
        - Customers 
      description: Returns a customer
      operationId: getCustomerById               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - CustomerId  
                  - FirstName   
                  - LastName                  
                  - SupportRepId
                  - Company     
                  - Address     
                  - City        
                  - State       
                  - Country     
                  - PostalCode  
                  - Phone       
                  - Fax         
                  - Email 
                properties:
                  CustomerId:
                    type: integer
                    format: int64
                    example: 1
                  FirstName:
                    type: string
                    maxLength: 40
                    example: "Martha"
                  LastName:
                    type: string
                    maxLength: 40
                    example: "Smith"
                  Company:
                    type: string
                    maxLength: 80
                    example: apple
                  Address:
                    type: string
                    maxLength: 70
                    example: apple 78th
                  City:
                    type: string
                    maxLength: 40
                    example: Minesota
                  State:
                    type: string
                    maxLength: 40
                    example: apple
                  Country:
                    type: string
                    maxLength: 40
                    example: apple
                  PostalCode: 
                    type: string
                    maxLength: 10
                    example: apple
                  Phone: 
                    type: string
                    maxLength: 24
                    example: apple
                  Fax: 
                    type: string
                    maxLength: 24
                    example: apple
                  Email: 
                    type: string
                    maxLength: 60
                    example: apple
                  SupportRepId:
                    type: integer
                    format: int64
                    minimum: 1  
                    example: 1
        '401':
          "$ref": "#/components/responses/_401"
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"                      
        '503':
          "$ref": "#/components/responses/_503"
    put:
      tags:
        - Customers 
      description: Updates a customer
      operationId: updateCustomer
      requestBody:
        description: Customer to update
        required: true
        content:
          'application/json':
            schema:
              type: object
              properties: 
                FirstName:
                  type: string
                  maxLength: 40
                  example: "Kira"
                LastName:
                  type: string
                  maxLength: 40
                  example: "Maria"
                Company:
                  type: string
                  maxLength: 80
                  example: apple
                Address:
                  type: string
                  maxLength: 70
                  example: 7th street
                City:
                  type: string
                  maxLength: 40
                  example: Florida
                State:
                  type: string
                  maxLength: 40
                  example: apple
                Country:
                  type: string
                  maxLength: 40
                  example: apple
                PostalCode: 
                  type: string
                  maxLength: 10
                  example: apple
                Phone: 
                  type: string
                  maxLength: 24
                  example: apple
                Fax: 
                  type: string
                  maxLength: 24
                  example: apple
                Email: 
                  type: string
                  maxLength: 60
                  example: apple
                SupportRepId:
                  type: integer
                  format: int64
                  minimum: 1
                  example: 1  
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - CustomerId  
                  - FirstName   
                  - LastName                  
                  - SupportRepId
                  - Company     
                  - Address     
                  - City        
                  - State       
                  - Country     
                  - PostalCode  
                  - Phone       
                  - Fax         
                  - Email 
                properties:
                  CustomerId:
                    type: integer
                    format: int64
                    example: 1
                  FirstName:
                    type: string
                    maxLength: 40
                    example: "Apple"
                  LastName:
                    type: string
                    maxLength: 40
                    example: "apple"
                  Company:
                    type: string
                    maxLength: 80
                    example: apple
                  Address:
                    type: string
                    maxLength: 70
                    example: apple
                  City:
                    type: string
                    maxLength: 40
                    example: apple
                  State:
                    type: string
                    maxLength: 40
                    example: apple
                  Country:
                    type: string
                    maxLength: 40
                    example: apple
                  PostalCode: 
                    type: string
                    maxLength: 10
                    example: apple
                  Phone: 
                    type: string
                    maxLength: 24
                    example: apple
                  Fax: 
                    type: string
                    maxLength: 24
                    example: apple
                  Email: 
                    type: string
                    maxLength: 60
                    example: apple
                  SupportRepId:
                    type: integer
                    format: int64
                    minimum: 1
                    example: 1  
        '400':
          "$ref": "#/components/responses/_400"                     
        '401':
          "$ref": "#/components/responses/_401"                    
        '404':
          "$ref": "#/components/responses/_404"
        '409':
          "$ref": "#/components/responses/_409"
        '500':
          "$ref": "#/components/responses/_500"                                          
        '503':
          "$ref": "#/components/responses/_503"  
    delete:
      tags:
        - Customers 
      description: Delete a Customer
      operationId: deleteCustomer
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                required:
                  - DeletedCustomerId
                properties:
                  DeletedCustomerId:
                    type: integer
                    minimum: 1
        '401':
          "$ref": "#/components/responses/_401"
        '404':
          "$ref": "#/components/responses/_404"
        '500':
          "$ref": "#/components/responses/_500"            
        '503':
          "$ref": "#/components/responses/_503"                                   
    parameters:      
    - name: CustomerId
      in: path
      description: Path id parameter
      required: true
      schema:
        type: integer
        minimum: 1
  /webapi/v1/sales:
    description: Returns a paginated list of the total sales.
    get:
      tags:
        - Sales 
      description: Returns the list of sales
      operationId: getAllSales               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  lnks:
                    type: object
                    required:
                      - prev
                      - next
                    properties:
                      prev:
                        type: string
                        description: Represents the URL for the previous page of this request
                        example: https://.../v1/albums/2sds6  
                      next:
                        type: string
                        description: Represents the URL for the next page of this request
                        example: https://.../v1/albums/2sDs6  
                  data:                        
                    type: array
                    items:
                      type: object
                      required:
                        - TrackId
                        - Name
                        - UnitPrice
                        - Quantity
                        - Total
                      properties:
                        TrackId:
                          type: integer
                          format: int64
                          minimum: 1
                          example: 1
                        Name:
                          type: string
                          maxLength: 200
                          example: Prince of the down
                        UnitPrice:
                          type: number
                          format: double
                          minimum: 0.0
                          example: 2.36
                        Quantity:
                          type: integer
                          minimum: 0
                          example: 3
                        Total:
                          type: number
                          format: double
                          minimum: 0.0
                          example: 2.36
        '400':
          "$ref": "#/components/responses/_400"                                                
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"          
        '503':
          "$ref": "#/components/responses/_503"                                         
  /webapi/v1/sales/byRep:
    description: Returns a paginated list of sales by representative.
    get:
      tags:
        - Sales
      description: Returns the list of sales  by representative
      operationId: getAllSalesByRepresentative               
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - EmployeeId
                    - FirstName
                    - LastName
                    - TotalSales
                  properties:
                    EmployeeId:
                      type: integer
                      format: int64
                      minimum: 1
                      example: 1
                    FirstName:
                      type: string
                      maxLength: 20
                      example: John
                    LastName:
                      type: string
                      maxLength: 20
                      example: "Ortega"
                    TotalSales:
                      type: number
                      format: double
                      minimum: 0.0
                      example: 27.59
        '400':
          "$ref": "#/components/responses/_400"                                            
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"            
        '503':
          "$ref": "#/components/responses/_503"        
  /webapi/v1/sales/byquarter:
    description: Returns a paginated list of sales grouped by quarter.
    get:
      tags:
        - Sales
      description: Returns the list of sales grouped by quarter.
      operationId: getAllSalesGroupedByQuarter
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - Year
                    - Quarter
                    - TotalAmount
                  properties:
                    Year:
                      type: string
                      maxLength: 4
                      example: "2013"
                    Quarter:
                      type: string
                      maxLength: 12
                      example: "First"
                    TotalAmount:
                      type: number
                      minimum: 0.0
                      format: double
                      example: 2700.59
        '400':
          "$ref": "#/components/responses/_400"                                                                  
        '401':
          "$ref": "#/components/responses/_401"
        '500':
          "$ref": "#/components/responses/_500"           
        '503':
          "$ref": "#/components/responses/_503"                         
components:
  responses: 
    _400:              
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              probable_culprit:
                type: array
                items:
                  type: string
                  enum:
                    - Malformed Syntax
                    - Missing Required Data
                    - Invalid Data Types or Values
                    - Encoding Issues
                    - Invalid Page
                description: List of possible causes for the error
                example: ["Malformed Syntax", "Missing Required Data"]    
    _401:
      description: Unauthorized 
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
            properties:
              error:
                type: string
                maxLength: 60
                example: "Unauthorized"
              message:
                type: string
                maxLength: 90
                example: "Missing or invalid token."
      headers:      
        WWW-Authenticate:
          description: Required authentication message
          schema:
            type: string
            example: "WWW-Authenticate: Bearer realm='Access to admin site', error='Required authentication'"
    _404:              
      description: Not found 
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
            properties:
              error:
                type: string
                maxLength: 60
                example: "Not found"
              message:
                type: string
                maxLength: 90
                example: "The requested resource, {user} with ID {123}, could not be found on this server."
    _409:              
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
              - conflicting_field
            properties:
              error:
                type: string
                maxLength: 82
                example: Email error
              message:
                type: string
                maxLength: 82
                example: This email is already been used in this server
              conflicting_field:
                type: string
                maxLength: 82
                example: "email: {moraz12@gmail.com}"
    _500:
      description: Generic 
      content:
        application/json:
          schema:
            type: object
            required:
              - error
              - message
            properties:
              error:
                type: string
                maxLength: 60
                example: "Unexpected error"
              message:
                type: string
                maxLength: 90
                example: "Try again later"               
    _503:
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                maxLength: 90
                example: "We're currently upgrading our systems."
              starts:
                type: string
                format: date-time
                example: "2019-10-12T07:20:50.52Z"
                description: ISO 8601 Combined Date and Time
              ends:
                type: string
                format: date-time
                example: "2019-10-12T07:20:50.52Z"
                description: ISO 8601 Combined Date and Time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token
      bearerFormat: 32 character self produced (webapi) string

